ENGINE_MODE=tesseract

AZURE_DI_ENABLED=false
AZURE_DI_ENDPOINT=
AZURE_DI_KEY=
AZURE_DI_MODEL=prebuilt-read

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=
AZURE_DOCUMENT_INTELLIGENCE_MODEL=prebuilt-read
